.tabs {
  box-shadow: none;
}

// Tabs
.tabs-wrapper,
.horizontal-tabs ul.horizontal-tabs-list {
  padding: 0;
  margin-inline-start: calc(var(--gin-spacing-xs) * -1);
  margin-inline-end: calc(var(--gin-spacing-xs) * -1);
}

.responsive-tabs-link-text-wrapper {
  text-wrap: nowrap;
}

// Vertical tabs
.vertical-tabs {
  border: none;

  & &-list {
    z-index: inherit;
    border: none;

    .gin--dark-mode & {
      border-color: #8E929C;
    }

    .vertical-tab-item {
      border: none;
      background-color: transparent;

      &.vertical-tab-selected {
        a.vertical-tab-link {
          color: var(--gin-color-primary-active);
          background-color: transparent;
        }

        strong {
          color: var(--gin-color-primary-active);
        }
      }

      a.vertical-tab-link {
        background-color: var(--gin-bg-header);
        border-radius: var(--gin-border-m);
        margin: var(--gin-spacing-s) 0;
        padding: var(--gin-spacing-m);
        font-size: var(--gin-font-size-m);

        &:hover {
          background-color: var(--gin-color-primary-light-hover);
        }

        .summary {
          font-size: var(--gin-font-size-s);
        }
      }
    }
  }
}

.vertical-tab-link {
  color: var(--gin-color-primary);

  .summary {
    color: var(--gin-color-text);
  }
}

.gin--dark-mode {
  .tabs {
    border-color: var(--gin-border-color-layer2);

    .tabs__tab,
    .tabs__tab.is-active {
      border-color: var(--gin-border-color-layer2);
      background-color: transparent;
    }
  }
}

.tabs-wrapper.is-horizontal {
  padding-block-end: var(--gin-spacing-l);
}

.tabs__link,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {
  color: var(--gin-color-text);
  font-size: var(--gin-font-size);
  font-weight: var(--gin-font-weight-semibold);
  padding-block: calc(var(--gin-spacing-l) - var(--gin-spacing-xxs));

  strong {
    font-weight: inherit;
  }
}

.tabs__link.is-active,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button.selected a {
  font-weight: var(--gin-font-weight-semibold);
}

.is-horizontal .tabs__link,
.horizontal-tabs ul.horizontal-tabs-list li.horizontal-tab-button a {

  &:hover,
  &:focus {
    color: var(--gin-color-primary);
    background: var(--gin-bg-item-hover);
  }
}

.is-horizontal .tabs--primary,
.is-horizontal .tabs--secondary,
.horizontal-tabs ul.horizontal-tabs-list,
.responsive-tabs-dropdown {
  position: relative;
  width: 100%;
  padding: .3125rem var(--gin-spacing-xs) var(--gin-spacing-l);
  margin-block-end: calc(var(--gin-spacing-l) * -1);
  overflow-x: auto;

  @include mq(small) {
    width: 100%;
    padding: .3125rem var(--gin-spacing-xs) var(--gin-spacing-l);
    margin-block-end: calc(var(--gin-spacing-xl) * -1);
    overflow-x: auto;

    .gin--edit-form & {
      padding-block-start: .4rem;
    }
  }

  &::after {
    pointer-events: none;
    content: "";
    position: absolute;
    left: var(--gin-spacing-xs);
    bottom: var(--gin-spacing-l);
    display: block;
    width: 100%;
    max-width: calc(100% - var(--gin-spacing-m));
    border-block-end: 1px solid var(--gin-border-color);
    transition: var(--gin-transition);
  }

  .tabs__tab,
  .horizontal-tab-button {
    position: relative;

    &:focus-within {
      &::after {
        content: "";
        width: calc(100% + var(--gin-spacing-xs));
        height: 4px;
        background: var(--gin-bg-app);
        display: block;
        position: absolute;
        bottom: calc(var(--gin-spacing-xxs) * -1);
        left: calc(var(--gin-spacing-xxs) * -1);
        z-index: 3;
      }
    }
  }

  .horizontal-tab-button {
    &:focus-within {
      &::after {
        background: var(--gin-bg-layer);
      }
    }
  }
}

.horizontal-tabs ul.horizontal-tabs-list {
  &::before {
    z-index: 1;
    background: var(--gin-bg-layer);
  }

  &::after {
    left: var(--gin-spacing-xs);
    max-width: calc(100% - var(--gin-spacing-m));
  }
}

.is-horizontal .tabs--primary,
.is-horizontal .tabs--secondary,
.responsive-tabs-dropdown {
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.tabs--primary,
.responsive-tabs-dropdown {
  margin-block-end: 0;
}

.is-horizontal .tabs--primary,
.responsive-tabs-dropdown {
  &::after {
    border-block-end: 0 none;

    .gin--high-contrast-mode & {
      border-block-end: 1px solid;
    }
  }

  .tabs__tab.is-active,
  .tabs__tab.js-active-tab {
    &:focus-within::after {
      display: none;
    }
  }

  .tabs__link {
    min-height: var(--gin-spacing-xxl);
    height: 100%;

    @include mq(small) {
      font-size: var(--gin-font-size);
      padding: calc(var(--gin-spacing-xs) - 2px) var(--gin-spacing-s);
      margin-inline-end: 0.25em;
      min-height: 2rem;
      border-radius: 2rem;
    }

    &.is-active {
      color: var(--gin-color-primary-active);
      background: var(--gin-color-primary-light);

      &::before {
        display: none;
      }
    }
  }
}

.tabs__trigger {
  svg {
    stroke: var(--gin-color-primary);
  }
}

.is-horizontal .tabs--secondary {
  margin-block-start: var(--gin-spacing-m);

  &::before {
    width: 100%;
  }

  .tabs__link {
    min-height: 2.5rem;
    padding: var(--gin-spacing-xs) var(--gin-spacing-m) var(--gin-spacing-m);
    font-size: var(--gin-font-size-s);
    border-radius: var(--gin-border-m) var(--gin-border-m) 0 0;
  }
}

// Horizontal Tabs
.horizontal-tabs {
  position: static !important;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border: 0 none;
  margin-block-start: calc(var(--gin-spacing-m) * -1);

  ul.horizontal-tabs-list {
    background: none;
    border-inline-end: 0 none;
    border-block-end: 0 none;
    overflow: hidden;

    &:after {
      left: var(--gin-spacing-xs);
      max-width: calc(100% - var(--gin-spacing-m));
    }

    li.horizontal-tab-button {
      background: none;
      border-inline-end: 0 none;
      border-block-end: 0 none;

      a {
        padding: var(--gin-spacing-xs) var(--gin-spacing-m) var(--gin-spacing-m);
        font-size: var(--gin-font-size-s);
        border-radius: var(--gin-border-m) var(--gin-border-m) 0 0;

        &::before {
          content: '';
          display: block;
          position: absolute;
        }
      }

      &.selected a {
        color: var(--gin-color-primary);

        &::before {
          z-index: 1;
          border-inline-start: none;
          border-inline-end: none;
          border-block-end: 3px solid var(--gin-color-primary);
          top: auto;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
          width: 100%;
        }
      }
    }
  }

  // Nested horizontal tabs.
  .horizontal-tabs {
    margin-block-start: var(--gin-spacing-m);
  }

  .horizontal-tabs-panes,
  [data-horizontal-tabs-panes] {
    width: 100%;
  }

  .horizontal-tabs-pane {
    padding: 0;
    box-shadow: none;

    > .details-wrapper {
      margin: 0;
    }
  }

  .paragraphs-subform .horizontal-tabs-panes {
    margin-block-start: var(--gin-spacing-s);
  }
}

.gin--dark-mode {

  .vertical-tabs {
    &__items {
      background: none;
      border: 0 none;
    }

    &__menu-item.is-selected .vertical-tabs__menu-link {
      background: var(--gin-bg-app);
      border-color: transparent;
    }

    &__menu-link {
      color: var(--gin-color-text);
    }

    &__menu-link-summary {
      color: var(--gin-color-text-light);
    }
  }
}

.vertical-tabs {
  &-panes {
    padding-block-start: var(--gin-spacing-l);

    @include mq($to: medium) {
      border-block-end: 1px solid var(--gin-border-color);
    }

  }

  &-pane {
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    border-block-end: 1px solid var(--gin-border-color);
    border-radius: 0;

    @include mq(medium) {
      position: absolute;
      left: -9999em;
      height: 0;
      border: 0;
      background: transparent;

      &.vertical-tab-selected {
        position: static;
        height: auto;
        padding: var(--gin-spacing-m) var(--gin-spacing-l);
        background: transparent;
      }
    }

    > .vertical-tab-link {
      border-radius: 0;
      background-color: var(--gin-bg-layer);

      .fieldset-legend {
        color: var(--gin-color-primary);
      }
    }

    &.vertical-tab-selected > .vertical-tab-link {
      background-color: var(--gin-bg-header);

      .fieldset-legend {
        color: var(--gin-color-primary-active);
      }
    }

  }

  @include mq($to: medium) {
    fieldset.vertical-tabs-pane:not(.fieldgroup) {
      border-radius: 0;
      border-inline-start: 1px solid var(--gin-border-color);
      border-inline-end: 1px solid var(--gin-border-color);
      border-block-start: 1px solid var(--gin-border-color);
      border-block-end: none;

      > legend {
        margin: 0 0 0 -1px;
        border-block-end: 1px solid var(--gin-border-color);

      }

      > .fieldset-wrapper {
        background-color: var(--gin-bg-app);
      }
    }
  }

  &__items {
    border-radius: var(--gin-border-m);

    @include mq(large) {
      border-top-left-radius: 0;
    }

    .vertical-tabs__item {
      border-radius: 0;

      @include mq(1360px) {
        border-top-right-radius: var(--gin-border-m);
        border-bottom-right-radius: var(--gin-border-m);
        border-bottom-left-radius: var(--gin-border-m);

        ~ .vertical-tabs__item {
          border-top-left-radius: var(--gin-border-m);
        }
      }
    }
  }

  &__menu-item-title {
    font-weight: var(--gin-font-weight-bold);
  }

  &__menu-item {

    &::before,
    &::after {
      border-color: var(--gin-border-color);
    }
  }

  &__menu-link,
  &__menu-item.is-selected &__menu-link {
    &:hover {
      color: var(--gin-color-primary);

      &::before {
        background: var(--gin-bg-item-hover);
      }
    }
  }
}

@media screen and (min-width: 85em) {
  html.js .vertical-tabs__item {
    overflow: visible;
    float: left;
    width: 100%;
  }
}

/* Responsive tabs; copied and adapted from Seven */

.expand-dropdown-tabs-control {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 50px;
  height: auto;
  padding-inline-start: 0;
  padding-inline-end: 0;
  font-size: 0.9375em;
  text-align: center;
  visibility: visible;
  clip: auto;
  cursor: pointer;
}

.expand-dropdown-tabs-control:before {
  content: '...';
  font-weight: bold;
}

.responsive-tabs-processed .duplicated-tab,
.responsive-tabs-mobile ul.primary,
.responsive-tabs-dropdown {
  visibility: hidden;
  height: 0;
  width: 0;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.expand-dropdown-tabs {
  .responsive-tabs-dropdown {
    visibility: visible;
    height: auto;
    width: auto;
    padding: var(--gin-spacing-xs) var(--gin-spacing-xxxs);
    overflow: visible;
    clip: auto;
    flex-flow: column;
    align-content: end;
    position: absolute;
    background-color: var(--gin-bg-app);
    border-radius: 0 0 var(--gin-border-xl) var(--gin-border-xl);
    z-index: 50;
  }
}

.responsive-tabs-processed {
  position: relative;

  .tabs,
  .tabs--primary,
  .responsive-tabs-dropdown {
    display: flex;
  }
}

.desktop-primary-tabs {
  .expand-dropdown-tabs-control {
    visibility: hidden;
    height: 0;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
  }
}

@include mq($to: medium) {
  .tabs-wrapper {
    margin: var(--gin-spacing-m) 0;
  }

  .responsive-tabs-processed {
    .expand-dropdown-tabs-control::before {
      position: relative;
      padding: 0;
      border: 0;
      text-align: center;
      overflow: hidden;
      border-radius: 2.5rem;
      background-color: transparent;
      min-height: var(--gin-spacing-l);
      z-index: 5;
    }

    .tabs--primary,
    .responsive-tabs-dropdown {

      .tabs__link,
      .tabs__tab {
        position: relative;
        overflow: hidden;
        align-items: center;
        box-sizing: border-box;
        text-decoration: none;
        line-height: 1.2rem;
      }

      & + .expand-dropdown-tabs-control {
        line-height: 1.2rem;
        padding: calc(var(--gin-spacing-s) - 2px) var(--gin-spacing-m);
        height: var(--gin-spacing-xl);
        border-radius: 2.5rem;
        margin: .3125rem 4px 4px 4px;
      }

      &:has(.tabs__tab.is-active) + .expand-dropdown-tabs-control {
        color: var(--gin-color-primary-active);
        background: var(--gin-color-primary-light);
      }

    }
  }
}
