hr {
  margin: var(--gin-spacing-xl) 0;
}

// Summary
details {
  border: 1px solid var(--gin-border-color);
  border-radius: var(--gin-border-m);
  box-shadow: none;
  margin: 0 0 var(--gin-spacing-xs) 0;

  summary {
    padding: var(--gin-spacing-m) var(--gin-spacing-l) var(--gin-spacing-m) var(--gin-spacing-xxl);
    position: relative;
    width: calc(100% - 2px - var(--gin-spacing-l) - var(--gin-spacing-xxl));
    min-width: calc(100% - 2px - var(--gin-spacing-l) - var(--gin-spacing-xxl));
    border-radius: var(--gin-border-m);
    border-top: 1px solid var(--gin-border-color);
    border-left: 1px solid var(--gin-border-color);
    border-right: 1px solid var(--gin-border-color);

    &:hover {
      background: var(--gin-color-primary-light-hover);
    }

    &::marker {
      display: none;
      content: "";
    }

    &::before {
      transform: rotate(90deg);
      left: 1.125rem;
      top: 50%;
      background: var(--gin-color-text);
      mask-image: icon('handle');
      mask-repeat: no-repeat;
      mask-position: center center;
      mask-size: 100% 100%;
      display: inline-block;
      width: var(--gin-spacing-m);
      height: var(--gin-spacing-m);
      margin-top: calc(var(--gin-spacing-m) / -2);
      content: "";
      position: absolute;
      text-align: center;
      transition: transform var(--gin-transition);
    }
  }

  &[open] summary {
    border-radius: var(--gin-border-m) var(--gin-border-m) 0 0;

    &::before {
      transform: rotate(-90deg);
    }
  }

  .details-child-wrapper {
    padding: var(--gin-spacing-m) var(--gin-spacing-l);
  }
}
